<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EveryDay Bible App</title>
<!--    <link rel="icon" type="image/jpg" href="static/images/logo.jpg" sizes="196x196">-->
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/logo.jpg') }}" sizes="196x196">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div class="container">
        <!-- Text Section -->
        <div class="text-section">
            <h1>Welcome to EveryDay Bible App</h1>
            <p>Start your spiritual journey by reading scripture in various translations.</p>

            <div class="section">
                <h2>Read the Scripture</h2>
                <form action="/read" method="get">
                    <!-- Translation Dropdown -->
                    <div class="dropdown-container">
                        <label for="translation">Translation</label>
                        <select name="translation" id="translation" class="dropdown" required>
                            <option value="" disabled selected>Select a translation</option>
                            <!-- Translations will be populated here by JavaScript -->
                        </select>
                    </div>

                    <!-- Book Dropdown -->
                    <div class="dropdown-container">
                        <label for="book">Book</label>
                        <select name="book" id="book" class="dropdown" required>
                            <option value="" disabled selected>Select a book</option>
                            <!-- Books will be populated here by JavaScript -->
                        </select>
                    </div>

                    <!-- Chapter Dropdown -->
                    <div class="dropdown-container">
                        <label for="chapter">Chapter</label>
                        <select name="chapter" id="chapter" class="dropdown" required>
                            <option value="" disabled selected>Select a chapter</option>
                            <!-- Chapters will be populated here by JavaScript -->
                        </select>
                    </div>

                    <button type="submit" class="button">Get Scripture</button>
                </form>
            </div>
        </div>

        <!-- Image Section -->
        <div class="image-section">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Person reading the Bible">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>