<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book }} {{ chapter }} - EveryDay Bible App</title>
     <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/logo.jpg') }}" sizes="196x196">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scripture-styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ book }} {{ chapter }} - {{ translation | upper }} Translation</h1>

        <!-- Translation Dropdown -->
        <div class="dropdown-container">
            <label for="translation"></label>
            <select name="translation" id="translation" class="dropdown" required>
                <option value="" disabled selected>Switch Translation</option>
                <!-- Translations will be populated here by JavaScript -->
            </select>
        </div>

        <hr>

        <!-- Play/Pause All Button -->
        <button id="playAllButton" class="play-all-button">
            <span id="playIcon" class="play-icon">▶</span>
            <span id="playText">Play All</span>
        </button>

        <div class="section">
            {% if verses %}
                {% for verse in verses %}
                    <div class="verse">
                        <span class="verse-number">{{ verse['verse'] }}:</span>
                        <span class="verse-text">{{ verse['text'] }}</span>
                    </div>
                {% endfor %}
            {% else %}
                <p>No verses found for this chapter.</p>
            {% endif %}
        </div>

         <!-- Navigation Buttons -->
        <div class="navigation-buttons">
            <a href="#" id="prevChapter" class="button prev-next-button">Chapter {{ chapter | int - 1 }}</a>
            <a href="/" id="backToHomepage" class="button">Back to Homepage</a>
            <a href="#" id="nextChapter" class="button prev-next-button">Chapter {{ chapter | int + 1 }}</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripture-script.js') }}"></script>
</body>
</html>